<launch>
        <node pkg="map_deal" type="scale_node.py" name="scale_node" respawn="false" output="screen"/>
        <node pkg="uimap" name="uimap_node" type="uimap_node" respawn="true" args="/home/jk/catkin_lzw/src/map_deal/script/mapRecognition/pic/map_resize.jpg" output="screen" />
<!--        <node pkg="rqt_console" name="rqt_console" type="rqt_console" output="screen"/> -->

</launch>
